.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 850px;
  height: 600px;
  position: relative;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
}

.modal-container {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.modal-left {
  width: 50%;
  margin-right: 5%;
  margin-left: 1rem;
}

.modal-right {
  width: 50%;
  margin-left: 5%;
  margin-right: 1rem;
}

.price-container {
  background-color: #f7f7f7;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
}

.dropdown {
  width: 100%;
  padding: 8px;
  border: 2px solid #e2e8f0;
  border-radius: 4px;
  background-color: #f9fafb;
  appearance: none;
  font-size: 16px;
  padding-right: 40px;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}
