html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  gap: 1rem;
  background-color: rgba(0, 122, 255, 0.35);
  color: #49454f;
  border: none;
  border-radius: 30px;
  width: 30%;
  height: 3rem;
  position: relative;
  margin-left: auto;

}

#carname {
  border-radius: 30px;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
}

#carname::placeholder {
  color: #49454f;
  opacity: 1; /* Firefox */
}

.img-group {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  width: 100%;
  height: 10rem;
}

.big-img {
  width: 100%;
  height: 100%;
}

.img-container {
  width: 18%;
  height: 100%;
  position: relative;
  display: inline-block;
}

.zoom-label {
  position: absolute;
  bottom: 0px;
  right: 0px;
  text-align: center;
  background-color: #007AFF;
  color: white;
  padding: 5px;
  width: 4.5rem;
  border-radius: 10px 0px 15px 0px;
  font-size: 14px;
  margin: auto;
}


.mini-img-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  width: 25%;
}

#mini-img1,
#mini-img2,
#mini-img3,
#mini-img4 {
  width: 100%;
  height: 4.75rem;
}

img {
  border-radius: 15px;
}

.table-wrapper {
  overflow-y: auto;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
  color: black;
}

thead th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.info-table th,
.info-table td {
  padding: 16px 16px 16px 16px;
  border-bottom: 1px solid #ddd;
  border-top: none;
  border-left: none;
  border-right: none;
}